<table class="fa-table table-sm MarcoCompleto" border="1" cellpadding="1" cellspacing="1">
    <thead>
        <tr>
            <td colspan="9" style="font-size:large;">
                Listado de Cuentas
            </td>
        </tr>
        <tr>
            <td class="MarcoCompleto" style="width:100px;">Account</td>
            <td class="MarcoCompleto" style="width:100px;">Acct Type</td>
            <td class="MarcoCompleto" style="width:300px;">Description</td>
            <td class="MarcoCompleto" style="width:200px;">Deparment</td>
            <td class="MarcoCompleto" style="width:100px;">Typical Bal</td>
            <td class="MarcoCompleto" style="width:100px;">Debit Offset</td>
            <td class="MarcoCompleto" style="width:100px;">Credit Offset</td>
            <td class="MarcoCompleto" style="width:50px;">sts</td>
            <td colspan="1" style="width:50px;" class="MarcoCompleto">Controles</td>
        </tr>
    </thead>
    <tr *ngFor="let acc of accountservice.lista">
        <td class="MarcoCompleto">{{ acc.account }}</td>
        <td class="MarcoCompleto">{{ acc.acctType }}</td>
        <td class="MarcoCompleto">{{ acc.description }}</td>
        <td class="MarcoCompleto">{{ acc.deparment }}</td>
        <td class="MarcoCompleto">{{ acc.typicalBal }}</td>
        <td class="MarcoCompleto">{{ acc.debitOffset }}</td>
        <td class="MarcoCompleto">{{ acc.creditOffset }}</td>
        <td class="MarcoCompleto"><input class="form-check-input filled-in" type="checkbox" checked='{{ acc.sts ? "checked" : "" }}' disabled /></td>
        <td>
            <i class="bi bi-pen" (click)="editar( acc )" style="cursor:pointer;color:green;wi:50px;"></i>
        </td>
        <td>
            <i class="bi bi-trash3" (click)="eliminar( acc.account )" style="cursor:pointer;color:red;"></i>
        </td>
    </tr>
</table>