<table style="width:350px;border-style:none;border-width:0px;" border="0">
    <tr>
        <td style="width:50px;background-color: lightblue;">Account</td>
        <td><input inputmode="numeric" /></td>
    </tr>
    <tr>
        <td style="width:50px;background-color: lightblue;">Acct Type</td>
        <td><input inputmode="numeric" /></td>
    </tr>
    <tr>
        <td style="width:50px;background-color: lightblue;">Description</td>
        <td><input inputmode="numeric" /></td>
    </tr>
    <tr>
        <td style="width:50px;background-color: lightblue;">Deparment</td>
        <td><input inputmode="numeric" /></td>
    </tr>
    <tr>
        <td style="width:50px;background-color: lightblue;">Typical Bal</td>
        <td><input inputmode="numeric" /></td>
    </tr>
    <tr>
        <td style="width:100px;background-color: lightblue;">Debit Offset</td>
        <td><input inputmode="numeric" /></td>
    </tr>
    <tr>
        <td style="width:100px;background-color: lightblue;">Credit Offset</td>
        <td><input inputmode="numeric" /></td>
    </tr>
    <tr>
        <td class="titulo" style="width:50px;background-color: lightblue;">sts</td>
        <td><input inputmode="numeric" /></td>
    </tr>
    <tr>
        <td colspan="1" style="width:50px;background-color: lightblue;" class="MarcoCompleto">Controles</td>
        <td><input inputmode="numeric" /></td>
    </tr>
</table>