/* You can add global styles to this file, and also import other style files */
.MarcoCompleto {
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #000000;
    text-align: center;
  }
  table {
      width:100%
  }
  td {
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #000000;
    text-align: center;
    text-wrap:normal;
    font-size:small;
  }
  thead {
      background-color:lightblue;
      font-size:small;
      font-weight:bold;
  }
  .titulo{
    background-color:lightblue;
    font-size:small;
    font-weight:bold;
  }
  